@font-face
    font-family: 'music-icon'
    src:url('../fonts/music-icon.woff') format('woff')
    font-weight: normal
    font-style: normal

.iconfont {
    font-family: music-icon!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
